:root {
    --primary: #242424;
}

.btn2 {
    padding: 8px 20px;
    border-radius: 2px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn2--primary{
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
}

.btn2--outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn2--medium{
    padding: 8px 20px;
    font-size: 20px;
    color: white;
}

.btn2--large{
    padding: 12px 26px;
    font-size: 20px;
}

.btn2--medium:hover, 
.btn2--large:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}